


body{
  background:whitesmoke;
}
h1{
  text-align: center;
  margin-top: 3%;
}
.main{
  display: block;
  text-align: center;
  left: 100px;
  right: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  height: 250px;
  width: 500px;
  background:wheat;
  border-radius: 20px;
  border-color:black;
  border-style: solid;
  border-width: 1px;

}
button{
  position: fixed;
  top:48%;
  right:46%;
  size: 10%;
  cursor: pointer;
  font-weight: bold;
  font-size: 17px;
  border-radius: 10px;
  border-width: 2px;
  
}
.text{
  font-size: larger;
}
.aut{
  font-weight: bold ;
  font-size: large;
}
button:hover{
  background-color: tomato;
}
